.dt{
    float: left;
    color: #111517;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;  
    margin-bottom: 8px;   
}

.dd{
    color: #111517;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    margin: 0;    
    margin-bottom: 8px;
}