@import "../block/_container.scss";
@import "../block/countries";
@import "../block/form";
@import "../block/_header.scss";
@import "../block/_main.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&display=swap');
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    height: 100%;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Nunito Sans, sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }